.todobutton {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
    position: fixed;
    bottom: 30px;
    left: 44%;
    right: 0;
    background: #096279;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.9rem;
    font-weight: bold;
    color: #fff;
    transition: .2s ease;
    transform: rotate(0);
    z-index: 1;
}

.todobutton:hover {
    background: #b380b3;
    transition: .2s ease;
    transform: rotate(224deg);
}